.todo-tile {
    border: 1px solid #95e2ec;
    background-color: #ccd8f8;
    border-radius: .25rem;
    display: block;
  }
  .todo-silhouette {
    height: 80px;
  }
  .todo-tile-body {
    background: linear-gradient(180deg, rgb(215, 240, 223) 80%, #85d9ee 100%);
  }
  .todo-category-today {
    background-color:chartreuse ;
  }
  .todo-category-tomorrow {
    background-color:rgb(241, 229, 60) ;
  }
  .todo-category-later {
    background-color:rgb(66, 107, 240) ;
  }